use_flake

export CRLROOT=$(pwd)

# This provides git an email address for commits
export EMAIL="john@alphapixel.com"

export GEARS_INTERCOMPONENT_DOWNLOAD_DIR="$HOME"/.crl_download_dir

export LOCAL_BUILD_DIR_FORMAT="$CRLROOT"/build/%s/tracer-hmi

# HMI environment variables
export TRACER_HMI_PREFIX_PATH="$CRLROOT"/install/
export TRACER_HMI_INSTALL_PREFIX="$CRLROOT"/install/
export TRACER_HMI_GEOTILES_DIR="$CRLROOT"/geotiles/
export TRACER_HMI_WAYPOINTS_DIR="$CRLROOT"/waypoint_plans/
export TRACER_HMI_DOWNLOAD_DIR="$GEARS_INTERCMPONENT_DOWNLOAD_DIR"
export TRACER_HMI_AUTHENTICATION_DATABASE="$CRLROOT"/authentication/password_database.json
export TRACER_HMI_DEFAULT_AUTHENTICATION_DATABASE="$CRLROOT"/authentication/default_password_database.json

export QT_IM_MODULE="xim"

uname_out=$(uname -s)
case "$uname_out" in
Linux*)
    echo "Setting up for Linux..."
    export DEFAULT_INTERFACE=$(ip route show default | grep -Eo "dev\\s*[[:alnum:]]*" | sed 's/dev\s//g')
    export DEFAULT_INTERFACE_IP=$(ip addr show $DEFAULT_INTERFACE | grep "inet " | awk '{print $2}' | cut -d/ -f1)
    ;;
Darwin*)
    echo "Setting up for Darwin..."
    export DEFAULT_INTERFACE=$(route get default | grep interface | awk '{print $2}')
    export DEFAULT_INTERFACE_IP=$(ifconfig "$DEFAULT_INTERFACE" | grep "inet " | awk '{print $2}')
    ;;
*)
    echo "Not Linux or Darwin...."
    ;;
esac

export HMI_INTERFACE_ADDRESS=$DEFAULT_INTERFACE_IP
export GEARS_INTERCOMPONENT_CONFIG_PATH="$CRLROOT/comms_config/comms_config.$DEFAULT_INTERFACE.json"
